version: '3.9'

services:
  postgres:
    image: postgres:17.5
    container_name: ${COMPOSE_PROJECT_NAME}-postgres
    hostname: postgres
    environment:
      POSTGRES_DB: ${DATABASE_DB}
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - "${DATABASE_EXPOSE_PORT}:5432"
    volumes:
      # 左边是宿主机路径，你要改成你的真实路径
      - "D:/docker/store/api-gateway/db:${DATABASE_STORE}"
    restart: always
    networks:
      - backend

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${COMPOSE_PROJECT_NAME}-web
    hostname: web
    environment:
      SPRING_PROFILES_ACTIVE: "dev"
      LOG_PATH: ${LOG_PATH}
      DATABASE_DB: ${DATABASE_DB}
      DATABASE_DEFAULT_SCHEMA: ${DATABASE_DEFAULT_SCHEMA}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_HOST_PORT: ${DATABASE_HOST_PORT}
      ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}
      ALLOWED_METHODS: ${ALLOWED_METHODS}
      ALLOWED_HEADERS: ${ALLOWED_HEADERS}
      ALLOWED_EXPOSE_HEADERS: ${ALLOWED_EXPOSE_HEADERS}
    depends_on:
      - postgres
    ports:
      - "${WEB_EXPOSE_PORT}:8080"
    volumes:
      - "D:/docker/store/api-gateway/log:${LOG_PATH}"
    restart: always
    networks:
      - backend

networks:
  backend:
    driver: bridge
