server:
  port: 8080
  servlet:
    context-path: /api
    session:
      # Servlet容器生成的session cookie
      cookie:
        same-site: lax
        secure: true
        http-only: true

logging:
  file:
    path: /var/log
  level:
    org:
      springframework:
        security: debug
      flywaydb: debug
      jooq: debug

cors:
  allowedOriginPatterns: ${ALLOWED_ORIGIN_PATTERNS:*}
  allowedMethods: ${ALLOWED_METHODS:GET,POST,PUT,DELETE,OPTIONS}
  allowedHeaders: ${ALLOWED_HEADERS:*}
  exposedHeaders: ${EXPOSED_HEADERS:*}

spring:
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DB}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}

  flyway:
    enabled: true
    locations: classpath:db/migration
    default-schema: ${DATABASE_DEFAULT_SCHEMA}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha

knife4j:
  setting:
    language: zh_cn
  enable: true

jwt:
  secret: ${JWT_SECRET:secret}
  expiration-min: ${JWT_EXPIRATION_MIN:100}
  cookie-name: ${JWT_COOKIE_NAME:jwt}
